.rvo {
  &-modal-window {
    position: fixed;
    background-color: rgba(200, 200, 200, 0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    display: none;

    header {
      font-weight: bold;
    }

    &:target {
      opacity: 1;
      pointer-events: auto;
    }

    > div {
      width: 690px;
      position: relative;
      margin: 0 auto;
      padding: 2rem;
      background: #fff;
      color: #444;
      
      @media (max-width: 750px) {
        width: 100%;
      }
    }

    h1 {
      font-size: 150%;
      margin: 0 0 15px;
    }
  }

  &-iframe-container {
    iframe {
      width: 660px;
      border: none;
    }
    overflow-y: scroll;
    max-height: 750px !important;
  }

  &-buy-link {
    display: block;
    padding-top: 10px;
    color: #2f3435;
    font-weight: bold;
  }
}
